[Service]
Type=exec
EnvironmentFile=/etc/default/stable-diffusion-webui
EnvironmentVar=PYTHONUNBUFFERED=1
ConditionPathExists=/dev/kfd
ExecStart=
Restart=always
WorkingDirectory=
User=${SD_WEBUI_USER}
Group=${SD_WEBUI_GROUP}
StandardOutput=append:${SD_WEBUI_LOG_DIR}/sdwebui.log
StandardError=append:${SD_WEBUI_LOG_DIR}/sdwebui.log


[Install]
WantedBy=multi-user.target
